@import 
'normalize',
'mixins',
'fonts',
'media',
'variables';

@import 
'blocks/globals',
'blocks/header',
'blocks/search',
'blocks/frendi',
'blocks/notifications',
'blocks/comments',
'blocks/new-post',
'blocks/complain',
'blocks/drop-down',
'blocks/sliders',
'blocks/popup',
'blocks/radio',
'blocks/footer';


